version: 2.1
orbs:
  python: circleci/python@3.0.0
jobs:
  build_and_test:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - run:
          name: Run tests
          command: python -m pytest

  sts_demo:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements.txt
      - run:
          name: Demonstrate STS AssumeRoleWithWebIdentity
          command: python sts_demo.py

workflows:
  build_test_deploy:
    jobs:
      - build_and_test
      - sts_demo:
          requires:
            - build_and_test
